*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
  background:#0e1325;
  color:#fff;
  scroll-behavior:smooth;
}

/* NAVBAR */
nav{
  position:fixed;
  top:0;
  width:100%;
  padding:20px 60px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:rgba(0,0,0,0.4);
  z-index:1000;
}

nav ul{
  list-style:none;
  display:flex;
  gap:25px;
}

nav a{
  text-decoration:none;
  color:#fff;
  font-size:14px;
}

.contact-btn{
  border:1px solid #ff5a5a;
  padding:8px 16px;
  border-radius:20px;
  color:#ff5a5a;
}

/* HERO */
.hero{
  height:100vh;
  background:
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("portfolio1/mountain1.jpg");
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  position:relative;
}

.hero img{
  width:120px;
  height:120px;
  border-radius:50%;
  border:4px solid #ff5a5a;
  margin-bottom:20px;
}

.hero h1{
  font-size:40px;
  color:#ff5a5a;
}

.hero p{
  opacity:0.8;
}

.scroll{
  position:absolute;
  bottom:30px;
  font-size:12px;
  opacity:0.7;
}

/* SECTIONS */
section{
  padding:100px 80px;
}

/* ABOUT */
.about{
  background:#131a33;
  display:grid;
  grid-template-columns:1fr 2fr;
  gap:40px;
  align-items:center;
}

.about img{
  width:100%;
  border-radius:12px;
}

.about h2{
  color:#ff5a5a;
}

.info-box{
  margin-top:20px;
  border:1px solid #ff5a5a55;
  padding:20px;
  border-radius:10px;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

.download{
  display:inline-block;
  margin-top:20px;
  padding:10px 20px;
  background:#ff5a5a;
  color:#000;
  border-radius:20px;
  text-decoration:none;
}

/* SkillS */
.skills{
  background:#0e1325;
}

.skills h2{
  color:#ff5a5a;
  margin-bottom:30px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:30px;
}

.card{
  background: #0e1325;
  border:1px solid #ff5a5a55;
  padding:30px;
  border-radius:12px;
  transition:box-shadow 0.3s ease;
}

.card:hover{
  transform:translateY(-8px);
  box-shadow: 0 0 12px rgba(255, 90, 90, 0.4),
  0 0 25px rgba(255, 90, 90, 0.25);
}

/* RESPONSIVE */
@media(max-width:900px){
  .about{
    grid-template-columns:1fr;
  }

  nav{
    padding:15px 25px;
  }

  section{
    padding:80px 30px;
  }
}

/* PROJECTS */
.projects{
  background:#131a33;
}

.projects h2{
  color:#ff5a5a;
  margin-bottom:30px;
}

.project-cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:30px;
}

.project-card {
  background: #0e1325;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid #ff5a5a55;

  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}

.project-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg,transparent, rgba(255, 90, 90, 0.4),transparent);
  opacity: 0;
  transition: 0.4s;
}

.project-card:hover::before {
  opacity: 1;
}

.project-card:hover {
  transform: translateY(-12px) scale(1.02);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.5);
}

.project-card span {
  display: inline-block;
  margin-top: 15px;
  font-size: 12px;
  color: #ff5a5a;
}

/* CONTACT */
.contact{
  background: #0e1325;
  text-align:center;
}

.contact h2{
  color:#ff5a5a;
  margin-bottom:10px;
}

.contact-text{
  opacity:0.7;
  margin-bottom:30px;
}

.contact-icons{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-top: 25px;
}

.contact-icons img{
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-icons img:hover{
  transform: scale(1.2);
  box-shadow: 0 0 12px rgba(255, 90, 90, 0.4),
  0 0 25px rgba(255, 90, 90, 0.25);
}


.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
